{% extends 'base.html'%} 
{% block content %}
<main clas='container py-5'>
    <section class='card card-body'>

        <h1 class='display-1 text-center'>Django APP</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae laudantium eos suscipit id expedita necessitatibus eaque debitis excepturi provident officiis dolor, exercitationem laborum illo est similique voluptates corporis esse cumque ipsa repellendus asperiores tenetur. Soluta praesentium rem quis. Illo officia minus, iste esse deserunt alias sunt commodi reprehenderit modi, et earum laborum incidunt. Sequi consequuntur quam soluta, fugit distinctio, aut ab animi aperiam voluptate natus perferendis dignissimos illum officia praesentium itaque sapiente rem exercitationem obcaecati maxime ipsa nisi eligendi pariatur et. Corrupti amet perspiciatis enim. Facilis possimus eveniet aliquid dolorem quo odio quae laudantium! Sunt, tempora aspernatur. Aut, eligendi possimus.</p>
        <div class="text-center">
            {% if user.is_authenticated %}
            <a class='btn btn-secondary' href="/logout/">
                Logout
            </a>
            {% else %}
            <a class='btn btn-secondary' href="/signin/">
                Siging
            </a>
            <a class='btn btn-dark' href="/signup/">
                Signup
            </a>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}
